
html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #FAF9F6;

}

.part1{
  width: 100%;
  background-color:#F4E5E4;
  overflow: hidden;
}
.part1 h2{
  font-family: 'Satisfy', cursive;
font-weight: lighter;
 color: #A89D9D;
 margin-top: 30px;
 margin-bottom: 40px;
 font-size: 25px;
 padding-bottom: 20px;
 border-bottom: solid;
 border-width: thin;
 border-color: #E0D2D1;
}

.part1 img{
   float: left;
    width: 30%;
    margin:2% 5%;

}

.part1 .contenu1{
  width: 50%;
  float:left;
  font-family: 'Marck Script', cursive;
  font-size:18px;
  text-align: justify;
  margin-top: 15px;
}
.part2{
  width: 100%;
  overflow: hidden;
}
.part2 .contenu2{
  width: 50%;
  float: left;
  text-align: justify;
  font-family: 'Marck Script', cursive;
  font-size: 18px;
  margin-left:100px;
  margin-top:70px;

}
.part2 .contenu2 #p2{
   font-size:26px;
   color:#A89D9D;
   text-align: center;
 }
 .part2 img{
    float: right;
     width: 25%;
     margin:2% 5%;

 }
/*-----------link style -------------------------*/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
/*-------------------------*/
@media screen and (max-width: 1024px) {
.part1 img{
  width: 40%;
  margin-top: 40px;
}
.part1 h2{
  font-size: 25px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 0;
  border: none;
}

.part1 .contenu1{
  float: none;
  width: 90%;
  margin: 0 auto;
}
.part2 img{
  margin-top: 30px;
}
.part2 .contenu2{
  margin-top:20px;

}
@media screen and (max-width: 600px) {
  .part1 img{
    width: 50%;
    margin-top: 40px;
  }
  .part1 h2{
    font-size: 15px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 0;
    border: none;
  }

  .part1 .contenu1{
    font-size:15px;
    float: none;
    width: 90%;
    margin: 0 auto;
    text-align:none;

  }
  .part2 .contenu2{
    font-size:15px;
    float: none;
    width: 50%;
    margin: 0 20px;
    text-align:none;
  }
   .part2 .contenu2 #p2{
     font-size:18px;
     color:#A89D9D;
     text-align: center;
   }
   .part2 img{
       width: 40%;
       margin:5% 5%;
       float: right;

   }
}
