* {
  margin: 0;
  padding: 0;
}


.container{
   overflow: hidden;
   display: flex;
   margin: 5%;
   height: 100%;
}
.text{
  flex:70%;
  text-align: center;
  margin-right: 8%;
  height: auto;
  background-color: #dffd;
}

.text > div {
  height: 33.333%;
}
.text1{
  background-color: green;
}
.text2{
  background-color: red;
}
.text3{
  background-color: blue;
}
.image{
flex:30%;
float: right;
object-fit: fill;
background-color: #dffd;

}
.image img{
  width: 100%;
  height: auto;


}
