* {
  font-family: 'Quicksand', sans-serif;
}

h1 , h2 {
  text-align: center;
  font-weight: lighter;
}

h1 {
  color: grey;
}

.container > div {
    background-color: lightblue;
    width:  40%;
}

.container {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

form {
  display: flex;
  flex-direction : column;
  width: 100%;
}

#title_get_in_touch {
  border-bottom: solid;
  margin-bottom : 5%;
  margin-top : 7%;
  color: red;
  border-color: red;
}

.get_in_touch > * {
  width : 60%;
  margin: 0 auto;
}

.get_in_touch > p {
  margin-top : 5%;
}

form * {
  margin: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  height: 15%;
  padding-left : 1.5%;
}

button {
  border-radius: 12px;
  width : 20%;
  padding: 1.5%;
  text-align: center;
  margin-left: auto;
  background-color: red;
  color: white;
  transition-duration: 0.4s;
  border: none;
}
button:hover {
  background-color: white;
  color: red;
  border: none;
}

textarea {
  resize: none;
  font: inherit;
  padding-top : 2%;
}


/*----------icons au milieu--------------------*/


.icones ul {
  position: relative;
  padding: 0;
  margin-top:10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icones ul li{
   list-style: none;
   margin: 7%;
}
.icones ul li a{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 width:10px;
 height: 50px;
 border-radius: 50%;
 text-decoration: none;
 font-size: 25px;
 color:#968A7A;
}
.icones ul li a:hover{
 color:#fff;
}

.icones ul li a::before{
 content: '';
 position: absolute;
 top: 0;
 right: 0;
 left: 0;
 bottom: 0;
 background-color: #000;
 border-radius: 50%;
 z-index:-1;
 transform:scale(0);
 transition:0.5s;
}

.icones ul li a:hover::before{
 transform:scale(1);
}
.icones ul li:nth-child(1) a:hover:before{
 background:#4267B2;
}
.icones ul li:nth-child(2) a:hover::before{
 background:#C13584;
}
.icones ul li:nth-child(3) a:hover::before{
 background:#4AC959;
}

.icones ul li:nth-child(4) a:hover::before{
 background:#BD081C;

}
