
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw
}
#container{
  position: relative;
  height: 100%;
  width: 100%;
}

#container > header {
  flex-direction: column;
  flex-wrap: wrap;
}

#main{
  padding-bottom: 180px;
}
.logodiv{
   height: 100px;
   width: 250px;
   position: relative;
   margin: 0 auto;
   transition: transform .2s;
}

.logodiv img{
  width: 100%;
  position:  absolute;
  transform: translateY(5%);
  pointer-events: none;
}

.logodiv:hover {
  transform: scale(1.05);
}

nav {
  width: 400px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;

}

nav ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 50px;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  color: #BFBEBD;
  padding: 0 20px;
}
ul li a:hover{
  color: black;
}
#footer{
  background-color: #E5DEFF;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  font-family: 'Quicksand', sans-serif;
}

.footerdiv{
  position: relative;
  margin: 0 auto;
  color:#968A7A;
  padding-left: 10%;
}
.footerboxs {
  display: inline;
  float: left;
  width: 30%;
  height: 150px;
  margin: 25px 10px 0 10px;
}
.footerdiv p{
  display: inline-block;
  line-height: 25px;
  font-size:15px;
}
.footer1 li{
  list-style: none;
  line-height: 30px;
}
.footer1 img{
  width: 15px;
  vertical-align: middle;
}
.footer2 h3{
  text-align:center;
}
.footer2 img{
  width:35px;
  margin-right:10px;
  margin-left: 10px;
}
.footer1 h3,.footer3 h3{
  font-family: 'Quicksand', sans-serif;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.media {
  margin-top: 30px;
  text-align: center;
}
